/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #19c8fa;
  --main-color-alt: #1787e0;
  --transparent-color: rgb(15 116 143 / 70%);
  --main-transition: 0.5s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  max-width: 100vw;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (max-width: 768px) {
  .container {
    width: min(750px, 100%);
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
p {
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  color: rgba(84, 84, 84, 0.7);
  line-height: 1.8;
}
/* End Global Rules */

/* home styles start  */
.home {
  min-height: 100vh;
  background: url(https://i.pinimg.com/originals/14/cd/4e/14cd4ee0b72a7d8b6b90608858f6269b.jpg)
    no-repeat;
  background-size: cover;
}
.home-container {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100vh;
}

/* header styles */

.home header {
  height: 80px;
  padding: 15px 0;
}
.home header .container {
  display: flex;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: aliceblue;
  right: 15px;
  bottom: 0;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  width: 150px;
}
header nav {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 300;
  padding: 21px 10px;
  transition: var(--main-transition);
}
nav ul li {
  transition: 0.1s;
}
nav ul li:first-child a,
nav ul li:not(:first-child):hover a {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
.menu {
  display: none;
}
/* Small */
@media (max-width: 767px) {
  nav ul {
    display: none;
  }
  .menu {
    display: inline-block;
  }
  .menu:hover nav ul {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
}

/* Greater than 767px */
@media (min-width: 768px) {
  nav ul {
    display: flex;
  }
  .menu {
    display: none;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin-left: 20px;
  border-left: 1px solid aliceblue;
  transition: var(--main-transition);
}
header i {
  color: aliceblue;
  font-size: 20px;
}
header .search:hover {
  font-size: 22px;
  transform: translate(-5px, 5px);
  border-bottom: 1px solid aliceblue;
  border-left: 0px;
}
header input[type="search"] {
  position: absolute;
  width: 60px;
  background-color: #9099ff;
  outline-offset: 0;
  overflow: hidden;
  border: 0px;
  display: none;
  transition: var(--main-transition);
}
header .search:hover input[type="search"] {
  display: block;
  height: fit-content;
  padding: 5px;
  bottom: -28px;
  animation: search 0.6s linear 0.3s;
  animation-fill-mode: both;
}
@keyframes search {
  0% {
    padding: 0px;
    bottom: -20px;
    right: 0px;
    width: 40px;
  }
  100% {
    padding: 5px;
    bottom: -37px;
    right: 0px;
    width: 200px;
  }
}

/* the rest of home area styles */

.home .side-bar {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
}
.home .side-text {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 50px;
}
/* Small */
@media (max-width: 767px) {
  .home .side-bar {
    width: 100%;
    justify-content: center;
  }
}

.side-text p {
  color: black;
  font-weight: 500;
}

.next-icon {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  padding: 5px;
  top: 50%;

  z-index: 1;
}
.next-icon:first-of-type {
  left: 0;
  transform: scaleX(-1);
}
.next-icon:last-of-type {
  right: 0;
}
.next-icon:hover {
  color: white;
}
.circles {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  width: 80px;
  bottom: 5px;
  right: 50%;
  transform: translateX(50%);
  color: rgba(255, 255, 255, 0.6);
}
.circles i {
  transition: var(--main-transition);
}
.circles i:nth-child(2),
.circles i:hover {
  color: var(--main-color-alt);
  font-size: 25px;
  font-weight: 600;
}

/* End home */

/* start services */
.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.heading h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.heading h2::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.heading h2::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.heading p {
  width: min(500px, 100%);
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 20px;
}
.service {
  display: flex;
}
@media (max-width: 767px) {
  .service {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.service i {
  font-size: 50px;
  color: var(--main-color);
}
.service h3 {
  padding: 10px;
  font-size: 20px;
}
/* services end  */
/* start design */
.design {
  position: relative;
  height: 100vh;
  background: url(https://img.freepik.com/premium-vector/abstract-blue-black-colorful-geometric-light-triangle-line-shape-with-futuristic-concept-presentation-background_181182-34640.jpg);
  background-size: cover;
}
.design .side-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.design .side-img img {
  width: 700px;
  height: 350px;
}
@media (max-width: 776px) {
  .design .side-img {
    display: none;
  }
}
.design .side-bar {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
}
@media (max-width: 767px) {
  .design .side-bar {
    width: 100%;
    justify-content: center;
  }
}
.design .side-text {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 30px;
}
.design .side-text h1 {
  margin-bottom: 30px;
  font-weight: 400;
}
.property {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.property i {
  padding: 5px;
  width: 40px;
  font-size: 25px;
  color: white;
  text-align: center;
}
.property p {
  width: min(400px, 100%);
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
}

/* end design  */
/* start portfolio */
.portfolio .works {
  margin: 100px 0 50px;
}
.portfolio .works ul {
  display: flex;
}
.portfolio .works ul li {
  padding: 10px;
}
.portfolio .works ul li:first-of-type {
  background-color: var(--main-color);
  color: var(--section-background);
}
.portfolio .elements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 100%;
}
@media (min-width: 767px) and (max-width: 1200px) {
  .portfolio .elements {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
.portfolio .element {
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}
.portfolio .element img {
  width: 100%;
  transition: var(--main-transition);
}
.portfolio .element .caption {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 78px;
  padding: 10px;
  left: 0;
  bottom: -78px;
  transition: var(--main-transition);
}
.portfolio .element .caption p {
  font-size: 16px;
  color: black;
  font-weight: normal;
  padding: 0 5px;
  text-align: start;
}
.portfolio .element .caption p:last-child {
  color: var(--main-color);
}
.portfolio .element:hover .caption {
  transform: translateY(-78px);
  z-index: 1;
}
.portfolio .element:hover img {
  transform: rotate(2deg) scale(1.1);
}

/* Video  */

.awesome-video .area {
  padding: 0 0 100px;
  position: relative;
}
.awesome-video video {
  filter: brightness(80%);
}
.awesome-video .side-bar {
  position: absolute;
  background-color: var(--transparent-color);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px;
}
.awesome-video .side-bar h3 {
  font-weight: normal;
  padding: 10px;
}
.awesome-video .side-bar p {
  color: white;
  padding: 10px;
}
.awesome-video .side-bar button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
}

/* About */
.about-area {
  padding-bottom: 0;
}
.about-section {
  position: relative;
  width: 100%;
  background-image: linear-gradient(
      rgba(29, 29, 29, 0.5),
      rgba(29, 29, 29, 0.5)
    ),
    url(../images/about-sec.png);
  margin-top: 200px;
  max-width: 100%;
}
.about img {
  position: absolute;
  height: 300px;
  top: -200px;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}
@media (max-width: 768px) {
  .about img {
    height: 200px;
    top: -100px;
  }
}
.about-section .details {
  margin: 100px;
  padding: 20px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.about-section .details .detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
@media (max-width: 768px) {
  .about-section .details {
    margin: 10%;
  }
  .about-section .details .detail {
    width: 100%;
  }
}
.detail i {
  padding: 10px;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.detail h3 {
  font-size: 40px;
}
.detail p {
  color: white;
  font-size: 13px;
  font-weight: 300;
}

/* Testimonials and Skills */

.testimonials-skills .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .testimonials-skills .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.testimonials {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  position: relative;
  align-items: center;
}
.special-heading {
  padding: 10px;
  margin-bottom: 50px;
}
.testimonials-skills .special-heading h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.testimonials-skills .special-heading p {
  color: #999;
  font-weight: 400;
  text-align: center;
}
.testimonials .testimonial {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}
.testimonials .testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonial .feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.testimonial .feed p:first-of-type {
  padding: 0;
  color: black;
}
.testimonial .feed p:last-of-type {
  color: #999;
  font-size: 14px;
  font-weight: 200;
  text-align: end;
  padding: 0;
  border-bottom: 1px solid #999;
}
.testimonials .circles i:not(:nth-child(2)) {
  color: var(--section-background);
}
.testimonials-skills .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.skills-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.skills .skill h3 {
  padding: 10px;
}
.skills .prog {
  background-color: #dedadc;
  width: 350px;
  height: 30px;
  position: relative;
}
@media (max-width: 1200px) {
  .skills-area {
    width: 100%;
  }
  .skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills .prog {
    width: min(100%, 600px);
  }
}
.skills .prog::after {
  position: absolute;
  width: 30px;
  height: 20px;
  padding: 2px;
  border-radius: 5px;
  background-color: black;
  color: white;
  top: -40px;
}
.skills .prog::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid black;
  top: -20px;
}
.p-90 {
  padding-right: 10%;
}
.p-90::after {
  content: "90%";
  right: calc(10% - 15px);
}
.p-90::before {
  right: calc(10% - 10px);
}
.p-85 {
  padding-right: 15%;
}
.p-85::after {
  content: "85%";
  right: calc(15% - 15px);
}
.p-85::before {
  right: calc(15% - 10px);
}
.p-80 {
  padding-right: 20%;
}
.p-80::after {
  content: "80%";
  right: calc(20% - 15px);
}
.p-80::before {
  right: calc(20% - 10px);
}
.skills .skill span {
  display: inline-block;
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
}

/* Quote */

.quote {
  width: 100%;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
}
.quote::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
  padding: 100px 10px;
  text-align: center;
  width: min(100%, 700px);
}

.quote q {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.quote p {
  color: white;
  font-weight: 200;
}

/* Pricing */

.pricing .packages {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
.pricing .packages .pack {
  text-align: center;
  width: min(100%, 400px);
}
@media (max-width: 786px) {
  .pricing .packages {
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }
  .pricing .pack {
    border-top: 2px solid black;
  }
}
.pricing .packages .pack .name {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .packages .pack h3 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 30px;
}
.pricing .packages .pack .name span {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  padding: 30px;
  position: relative;
}
.pricing .packages .pack .name span::after {
  content: "$";
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 10px;
}
.pricing .packages .pack .name span::before {
  content: "/Mo";
  position: absolute;
  font-size: 20px;
  bottom: 45px;
  right: -15px;
}
.pricing .packages .pack .features {
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 20px;
  font-size: 15px;
}
.pricing .packages .pack .features span {
  display: inline-block;
  border-bottom: 1px solid var(--main-color);
  padding: 20px;
}
.pricing .packages .pack .features .feature:last-of-type span {
  border-bottom: none;
}
.pack button {
  padding: 15px;
  background-color: white;
  border: 1px solid var(--main-color);
  transition: var(--main-transition);
}
.pack button a {
  text-decoration: none;
  color: black;
}
.pack button:hover {
  background-color: var(--main-color);
}

/* Subscribe styles */
.subscribe {
  width: 100%;
  background-image: url(../images/subscribe.jpg);
  position: relative;
}
.subscribe::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: relative;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: min(100%, 700px);
}
@media (max-width: 786px) {
  .subscribe .container {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}
.subscribe .subscribe-field {
  display: flex;
  align-items: center;
  border: 1px solid white;
  color: white;
}
.subscribe-field i {
  font-size: 20px;
  padding: 5px;
}
.subscribe-field input {
  color: white;
  background: transparent;
  border: none;
  width: min(100%, 250px);
  padding: 15px 0px;
}
.subscribe-field button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 15px;
}
.subscribe p {
  color: white;
  text-align: start;
  padding: 0;
  width: 300px;
}
@media (max-width: 786px) {
  .subscribe p {
    width: 100%;
    text-align: center;
  }
}

/* Contact styles */

.contact .contact-section {
  display: flex;
  gap: 50px;
}
.contact .send-message {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}
.contact .send-message input,
textarea {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 0.5px solid #999;
  margin-bottom: 20px;
}
.contact .send-message #send {
  width: 145px;
  color: white;
  background-color: var(--main-color);
  border: none;
  padding: 20px;
  align-self: flex-end;
}
.contact .info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contact .info h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}
.contact p {
  padding: 0;
}
@media (max-width: 786px) {
  .contact .contact-section {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

/* Footer styles */

footer {
  width: 100%;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgb(0 0 0 / 40%);
}
footer .container {
  position: relative;
  padding: 60px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
}
footer .logo {
  margin-bottom: 20px;
}
footer img {
  width: 120px;
}
footer p:not(:last-child) {
  color: white;
  font-size: 25px;
  border-bottom: 1px solid white;
}
footer .social {
  display: flex;
  gap: 10px;
}
footer .social i {
  font-size: 20px;
  color: white;
  padding: 5px;
}
footer p:last-child {
  color: white;
  position: relative;
}
footer span {
  color: var(--main-color);
}
